<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bakery Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
	<img class="logo" src="{{ url_for('static', filename='product_images/logo.png') }}" alt="Business Logo">
    </header>
    <main>
        <h2>Our Products</h2>
        <div class="products">
            {% for product in products %}
                <div class="product">
                    <img src="{{ url_for('static', filename='product_images/' + product.image) }}" alt="{{ product.name }}">
                    <h3>{{ product.name }}</h3>
                </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>

