body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

.logo {
    width: 150px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.product {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

